<center>
<h1>JOHDA DELIVERY</h1>
<br/>
<br/>
	<%=form_tag("johda/main") do %>
		Search Address:
		<%= text_field_tag("address") %>
		<%= submit_tag "search" %>
	<% end %>
	<%= flash[:success].html_safe unless flash[:success].blank? %><br>
</center>