<body class="welcome">
<center>
<br/>
<br/>
<div class="transbox">
<div id="search">
	<%=form_tag("johda/main") do %>
		Search Address:
		<%= text_field_tag("address") %>
		<%= submit_tag "search" %>
	<% end %>
	<%= flash[:success].html_safe unless flash[:success].blank? %><br>
</div>
</div>
		

<div class="page-container">
  <div class="flex-container">
  	<a href="/johda/main">
    	<div class="country netherlands" style= "height:210px; width:650px"><div>Dumbo</a></div></div>
    d</a>
    <div class="country belgium"><div>Midtown</div></div>
    <div class="country france"><div>Flushing</div></div>
  </div>
</div>


</center>
</body>

<script>
	$(".country").click(function() {
  $(this).toggleClass("active");
  $(".page-container").toggleClass("opened");
});
</script>