<body class="welcome">
<center>
<br/>
<br/>
<div class="transbox">
<div id="search">
	<%=form_tag("johda/main") do %>
		Search Address:
		<%= text_field_tag("address") %>
		<%= submit_tag "search" %>
	<% end %>
	<%= flash[:success].html_safe unless flash[:success].blank? %><br>
</div>
</div>
		

<div class="page-container">
  <div class="flex-container">
    <div class="country netherlands" style= "height:210px; width:650px"><div>Brooklyn</a></div></div>
    <div class="country belgium"><div>Manhattan</div></div>
    <div class="country france"><div>Queens</div></div>
  </div>
</div>


</center>
</body>

<script>
  $(".country").click(function() {
    $(this).toggleClass("active");
    $(".page-container").toggleClass("opened");
  });

  $(".netherlands").click(function() {
    $.post("/johda/main", { 
    address: '25 chapel street brooklyn ny', 
    authenticity_token: $('meta[name=csrf-token]').attr('content'), function(html) {
      location.replace('/johda/main')
    }});
  });

  $(".belgium").click(function() {
    $.post("/johda/main", { 
    address: '11 broadway ny ny', 
    authenticity_token: $('meta[name=csrf-token]').attr('content'), function(html) {
      location.replace('/johda/main')
    }});
  });

  $(".france").click(function() {
    $.post("/johda/main", { 
    address: '35-01 Union St, Flushing, NY 11354', 
    authenticity_token: $('meta[name=csrf-token]').attr('content'), function(html) {
      location.replace('/johda/main')
    }});
  });
</script>