<% provide(:title, @user.name) %>
<body>

<div id="header">
  <center>
    <h1> Hi, <%= @user.name %> </h1>
  </center>
</div>

<div id="nav">
  Favorites <br>
  Edit Profile <br>
  Order History<br>
  Address<br>
</div>

